<!DOCTYPE html> 
<html> 
    <head>
            
            <title> Carrito de Compras </title>
            <meta charset="UTF-8">
            <link rel="shortcut icon" href="/images/iconos/titleFN.png" type="image/x-icon">
            <meta name="viewport" content= "width-device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Great+Vibes&family=Pinyon+Script&family=Playfair+Display+SC:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/stylesheets/styleProductDetail.css">
            <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/stylesheets/header-style.css">
            <link rel="stylesheet" href="/stylesheets/footer-style.css">    
            <link rel = 'stylesheet' href ='/stylesheets/productCart.css' />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    </head>

     
        

    <body> 
    
    <%- include('./partials/headerFN') %>

        <main>
             
            <section class= "Carrito">

                    <p class = "titulo"> Carrito de <%= nombre%>  </p>
                    

                    <article class = "Bloque_Cesta">

                        <% for(var i = 0; i < carrito.productos.length; i++) { %>
                        <% for(var i = 0; i < carrito.carritos_productos.length; i++) { %>
                            <% let cantidad = carrito.carritos_productos[i].cantidad; %>

                        <div class = "producto">

                            

                            
                    
                            <div class = "detalles_producto">

                                <span><p> <%= carrito.productos[i].nombre%> </p>
                                <form action= "/carts" method = "POST">
                                <input type= "number" min = 1 step value = "<%= cantidad%>"  name = "cantidad" class = "cantidad">
                                </form>
                                </span>
                                

                                <a href= "/carts/borrar/<%= carrito.productos[i].id%>/<%= carrito.id%>"> Eliminar producto </a>
    
                                </div>
                                <%if( carrito.productos[i].imagenes.length > 0) {%>
                                <img src="/images/products/<%=carrito.productos[i].imagenes[0].ruta%>"> 
                                <% } %>     
                                <div class = "detalles_producto">
    
                                <p> $<%= carrito.productos[i].precio * cantidad %> </p>
                                <a href = "/products/detail/<%= carrito.productos[i].id%>"> Ir a detalles </a>
    
                                </div>

                            </div>

                        <% } %>
                        <% } %>
                    
                    </article>

                    <article class = "detalles_compra">

                        
                    
                        <div class = "precio_general">

                            
                                <form action = "/carts/confirmar" method = "GET" class = "FormBuy">
                                <button type = "submit" class= "Buy"> Comprar ahora </button>
                                </form>

                            

                        <div class = "p_total">

                            <div class = "precio_total">

                                 <p> $$ </p>  

                            </div>

                        </div>

                        </div>
                    
                
                

                    </article>

                

            </section>


                <hr>

                
            <p class = "Rel"> Productos relacionados </p>    

            <section class = "prodRel">

                    

                    <% for(var i = 0; i < prodRel.length; i++) { %>

                    <article class = "product1">
                    
                        
                        <img src ="/images/products/<%=prodRel[i].imagenes[0].ruta%>" >

                    
                        <div>

                            <a href = "/products/detail/<%= prodRel[i].id%>"> <%= prodRel[i].nombre%></a>

                            <p> $<%= prodRel[i].precio%> </p>
                            
                        </div>

                    </article>

                    <% } %>

                    

                    



            </section>    
                
        </main>

    <%- include('./partials/footerFN') %>
    
    </body>
        
</html>